{{ '{% extends \'@CULabsAdmin/Crud/view.html.twig\' %}' }}

{{ '{% block nav_menu %}' }}
    {{ "{{ set_route_active('"~ route_name_prefix ~"') }}" }}
    {{ "{{ parent() }}" }}
{{ "{% endblock %}" }}

{{ '{% block title_page %}' }}{{ '{{ \'%entity_name% list\'|trans }}'|replace({'%entity_name%':entityClass}) }}{{ '{% endblock %}' }}

{{ '{% block breadcrumb %}' }}
    {{ '{% include \'/admin/%entity_name%/breadcrumb.html.twig\' with {
        \'action\': \'batch\',
    } %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
            {{ '{{ \'List\'|trans }}' }}
        </a>
    </li>
{{ '{% endblock %}' }}

{{ '{% block view_body %}' }}
    <h1>{{ '{{ \'Confirm.batch\'|trans }}' }}</h1>
    {{ '{{ \'batch_ask\'|trans }}' }}
    <div class="well well-small form-actions">
        <form method="POST">
            <input type="hidden" value="{{ '{{ ids }}' }}" name="ids">
            <input type="hidden" value="{{ '{{ batch_action }}' }}" name="batch_action">
            <button class="btn btn-danger" type="submit" name="confirm" value="confirm">
                {{ '{{ \'confirm_batch.yes\'|trans }}' }}
            </button>
            {{ '{{ \'confirm.or\'|trans }}' }}
            <a class="btn btn-success" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
                <i class="glyphicon glyphicon-th-list"></i>
                {{ '{{ \'List\'|trans }}' }}
            </a>
        </form>
    </div>
{{ '{% endblock %}' }}
