{{ '{% extends \'@CULabsAdmin/Crud/view.html.twig\' %}' }}

{{ '{% block nav_menu %}' }}
    {{ "{{ set_route_active('"~ route_name_prefix ~"') }}" }}
    {{ "{{ parent() }}" }}
{{ "{% endblock %}" }}

{{ '{% block view_body %}' }}
    <form class="form-horizontal" method="POST" {{ '{{ form_enctype(form)}}' }}>
        {{ "{{ form_widget(form) }}" }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ '{% if entity.id %}' }}
                    <button class="btn btn-primary" name="btn_update_and_edit" type="submit">
                        {{ '{{ \'Update\'|trans }}' }}
                    </button>
                {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
                    <a class="btn btn-danger" href="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}">
                        {{ '{{ \'Delete\'|trans }}' }}
                    </a>
                {{ '{% endif %}' }}
                {{ '{% else %}' }}
                    <button class="btn btn-primary" name="btn_update_and_edit" type="submit">
                        {{ '{{ \'Create\'|trans }}' }}
                    </button>
                    <a class="btn btn-default" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
                        {{ '{{ \'List\'|trans }}' }}
                    </a>
                {{ '{% endif %}' }}
            </div>
        </div>
    </form>
{{ '{% endblock %}' }}
