{{ '{% extends \'@CULabsAdmin/Crud/index.html.twig\' %}' }}

{{ '{% block nav_menu %}' }}
    {{ "{{ set_route_active('"~ route_name_prefix ~"') }}" }}
    {{ "{{ parent() }}" }}
{{ "{% endblock %}" }}

{{ '{% block title_page %}' }}{{ '{{ \'%entity_name% list\'|trans}}'|replace({'%entity_name%':entityClass}) }}{{ '{% endblock %}' }}

{{ '{% block list_id %}' }}{{ entityClass }}_list{{ '{% endblock %}' }}

{{ '{% block breadcrumb %}' }}
    {{ '{% include \'/admin/%entity_name%/breadcrumb.html.twig\' %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
{{ '{% endblock %}' }}

{{ '{% block filter_form %}' }}
{{ "{% set filter_button = block('filter_button') %}" }}
{{ '{{ form_start(filter) }}' }}
    {{ '{{ form_widget(filter) }}' }}
    {{ "{{ filter_button|raw }}" }}
{{ '{{ form_end(filter) }}' }}
{{ '{% endblock %}' }}

{{ "{% block filter_button %}" }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ "{{ form_widget(filter.reset, {'attr': {'class': 'btn default'}}) }}" }}
            {{ "{{ form_widget(filter.filter, {'attr': {'class': 'btn btn-primary'}}) }}" }}
        </div>
    </div>
{{ "{% endblock %}" }}

{{ '{% block actions %}' }}
    {{ '{% if is_granted(\'ROLE_%entity_name%_NEW\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
        <li>
            <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                {{ '{{ \'New\'|trans }}' }}
            </a>
        </li>
    {{ '{% endif %}' }}
{{ '{% endblock %}' }}

{{ '{% block list %}' }}
<div id="ajax_{{ entityClass }}">
    {{ '{% include \'/admin/%entity_name%/list.html.twig\' with {
        \'pager\': pager,
        \'sort\' : sort,
    } %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
</div>
{{ '{% endblock %}' }}
