{{ '{% extends \'@CULabsAdmin/Crud/index.html.twig\' %}' }}

{{ '{% block title_page %}' }}{{ '{{ \'%entity_name% list\'|trans}}'|replace({'%entity_name%':entityClass}) }}{{ '{% endblock %}' }}

{{ '{% block list_id %}' }}{{ entityClass }}_list{{ '{% endblock %}' }}

{{ '{% block filter_form %}' }}
<form method="POST" action="{{ "{{ path('"~ route_name_prefix ~"_filter') }}" }}" {{ '{{ form_enctype(filter)}}' }}>
    <div class="form">
        <div>
            {{ '{% form_theme filter \'@CULabsAdmin/Form/fields.html.twig\' %}' }}
            {{ '{{  form_rest(filter) }}' }}
            <div style="clear: both"></div>
        </div>
        <input class="btn btn-primary" type="submit" name="action_filter" value="{{ '{{ \'Filter\'|trans }}' }}"/>
        <input class="btn" type="submit" name="action_reset" value="{{ '{{ \'Reset\'|trans }}' }}" />
    </div>
</form>
{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <ul class="actions">
        {{ '{% if is_granted(\'ROLE_%entity_name%_NEW\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
        <li>
            <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn btn-icon btn-primary">
                <i class="icon-plus-sign icon-white"></i>{{ '{{ \'New\'|trans }}' }}
            </a>
        </li>
        {{ '{% endif %}' }}
    </ul>
{{ '{% endblock %}' }}

{{ '{% block list %}' }}
<div id="ajax_{{ entityClass }}">
    {{ '{% include \'/admin/%entity_name%/list.html.twig\' with {
        \'pager\': pager,
        \'sort\' : sort,
    } %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
</div>
{{ '{% endblock %}' }}
