{{ '{% extends \'CULabsAdminBundle:Crud:list.html.twig\' %}' }}

{{ '{% block route_batch %}' }}{{ '{{ path(\'%prefix%_batch\') }}'|replace({'%prefix%':route_name_prefix}) }}{{ '{% endblock %}' }}

{{ '{% block header_table %}' }}
{{ '{% import \'CULabsAdminBundle:Crud:macros.html.twig\' as macros %}' }}
<tr>
    <th class="checkall batch"><input type="checkbox" onchange="admin_list_checkall(this, '#{{ entity }}_list .check input')"/></th>

    {%- for field, metadata in fields -%}
        {%- if field == 'id' or field == 'name' %}

    <th>{{ '{{ macros.sort_field(\'%field_label%\'|trans, \'%field%\', sort, \'%update%\', \'%route_name_prefix%_sort\', \'indicator_table_%entity_name%\') }}'|replace({'%field_label%':field|capitalize, '%field%':field, '%update%':'ajax_'~entity, '%route_name_prefix%':route_name_prefix, '%entity_name%':entity}) }}</th>
        {%- else %}

    <th>{{ '{{ \'%field_label%\'|trans }}'|replace({'%field_label%':field|capitalize}) }}</th>
        {%- endif %}
    {% endfor %}

    <th>{{- '{{ \'Options\'|trans }}' -}}</th>
</tr>
{{ '{% endblock %}' }}

{{ '{% block body_table %}' }}
    {{'{% for entity in pager %}'}}
    <tr id="row_{{ '{{ loop.index }}' }}">
        <td class="check"><input type="checkbox" value="{{ '{{ entity.id }}' }}" name="ids[]"/></td>
        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

        <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

        <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif%}' }}</td>

            {%- else %}

        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

        <td class="opcions span4">
            <ul>
                {% for action in record_actions -%}
                {%- if action == 'show' -%}
                {{ '{% if is_granted(\'ROLE_%entity_name%_SHOW\') %}'|replace({'%entity_name%':entity|upper}) }}
                <li>
                    <a class="btn btn-info btn-small" title="{{ '{{ \'%action%\'|trans }}'|replace({'%action%':action}) }}" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
                        <i class="icon-eye-open icon-white"></i>
                    </a>
                </li>
                {{ '{% endif %}' }}
                {% elseif action == 'edit' -%}
                {{ '{% if is_granted(\'ROLE_%entity_name%_EDIT\') %}'|replace({'%entity_name%':entity|upper}) }}
                <li>
                    <a class="btn btn-primary btn-small" title="{{ '{{ \'%action%\'|trans }}'|replace({'%action%':action}) }}" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
                        <i class="icon-pencil icon-white"></i>
                    </a>
                </li>
                {{ '{% endif %}' }}
                {% elseif action == 'delete' -%}
                {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper}) }}
                <li>
                    <a class="btn btn-danger btn-small" title="{{ '{{ \'delete\'|trans }}' }}" href="#" onclick="confirmarUrl('{{ '{{ \'Realmente desea borrar\'|trans }}' }}', '{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}', '{{ '{{ \'Comfirmar\'|trans }}' }}')">
                        <i class="icon-remove icon-white"></i>
                    </a>
                </li>
                {{ '{% endif %}' }}
                {%- endif -%}
                {%- endfor %}

            </ul>
        </td>
            {%- endif -%}
        {% endfor %}

    </tr>
    {{ '{% endfor %}' }}
{{ '{% endblock %}' }}

{{ '{% block footer_table %}' }}
    <div class="batch">
        {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper}) }}
        <select name="batch_action" class="batch_actions">
            <option value="">{{ '{{\'Select a action\'|trans}}' }}</option>
            <option value="delete">{{ '{{\'Delete\'|trans}}' }}</option>
        </select>
        <input type="submit" class="btn btn-primary" value="{{ '{{\'Ok\'|trans}}' }}"/>
        {{ '{% endif %}' }}
        <div class="loader">
            <img style="display: none" id="{{ 'indicator_table_%entity_name%'|replace({'%entity_name%': entity}) }}" src="{{ '{{ asset(\'bundles/culabsadmin/images/loader.gif\') }}' }}"/>
        </div>
    </div>
    {{ '{% include \'CULabsAdminBundle:Crud:pager.html.twig\' with {
        \'pager\':                pager,
        \'zona\':                 \'ajax_%entity_name%\',
        \'url\':                  path(\'%route_name_prefix%\'),
        \'url_changemaxperpage\': path(\'%route_name_prefix%_changemaxperpage\'),
        \'maxperpage_list\':      [10,20,30,50, 100],
    } %}'|replace({'%entity_name%': entity, '%route_name_prefix%':route_name_prefix }) }}
{{ '{% endblock %}' }}
