{{ '{% extends \'@CULabsAdmin/Crud/list.html.twig\' %}' }}

{{ '{% block route_batch %}' }}{{ '{{ path(\'%prefix%_batch\') }}'|replace({'%prefix%':route_name_prefix}) }}{{ '{% endblock %}' }}

{{ '{% block header_table %}' }}
{{ '{% import \'@CULabsAdmin/Crud/macros.html.twig\' as macros %}' }}
<tr>
    <th class="checkall batch"><input type="checkbox" onchange="admin_list_checkall(this, '#{{ entityClass }}_list .check input')"/></th>

    {%- for field, metadata in fields -%}
        {%- if field == 'id' or field == 'name' %}

    <th>
        {{ '{{ macros.sort_field(\'%field_label%\'|trans, \'%field%\', sort, \'%update%\', \'%route_name_prefix%_sort\', \'indicator_table_%field%\') }}'|replace({'%field_label%':field|capitalize, '%field%':field, '%update%':'ajax_'~entityClass, '%route_name_prefix%':route_name_prefix, '%entity_name%':entityClass}) }}
        <div style="display: inline-block; width: 10px">
            <img id="{{ 'indicator_table_%field%'|replace({'%field%': field}) }}" style="display: none" src="{{ "{{ asset('/bundles/culabsadmin/images/loader.gif') }}" }}"/>
        </div>
    </th>
        {%- else %}

    <th>{{ '{{ \'%field_label%\'|trans }}'|replace({'%field_label%':field|capitalize}) }}</th>
        {%- endif %}
    {% endfor %}

    <th>{{- '{{ \'Options\'|trans }}' -}}</th>
</tr>
{{ '{% endblock %}' }}

{{ '{% block body_table %}' }}
    {{'{% for entity in pager %}'}}
    <tr id="row_{{ '{{ loop.index }}' }}">
        <td class="check"><input type="checkbox" value="{{ '{{ entity.id }}' }}" name="ids[]"/></td>
        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

        <td><a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

        <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif%}' }}</td>

            {%- else %}

        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

        <td>
            <div class="btn-group">
                {% for action in record_actions -%}
                    {%- if action == 'edit' -%}
                    {{ '{% if is_granted(\'ROLE_%entity_name%_EDIT\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
                    <a class="btn edit_link btn-small green" title="{{ '{{ \'%action%\'|trans }}'|replace({'%action%':action}) }}" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                {{ '{% endif %}' }}
                {% elseif action == 'delete' -%}
                {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
                    <a class="btn delete_link btn-small btn-danger" data-header="{{ "{{ 'Confirm'|trans }}" }}" data-toggle="url-confirm" data-body="{{ "{{ 'delete_message'|trans }}" }}" title="{{ "{{ 'delete'|trans }}" }}" href="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                {{ '{% endif %}' }}
                {%- endif -%}
                {% endfor %}

            </div>
        </td>
            {%- endif -%}
        {% endfor %}

    </tr>
    {{ '{% endfor %}' }}
{{ '{% endblock %}' }}

{{ '{% block footer_table %}' }}
    {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
    <div class="pull-left">
        <select name="batch_action" class="form-control input-xxsmall">
            <option value="delete">{{ '{{\'Delete\'|trans}}' }}</option>
        </select>
    </div>
    <input type="submit" class="btn btn-small btn-primary pull-left" value="{{ '{{\'Ok\'|trans}}' }}"/>
    {{ '{% endif %}' }}
    <div class="pull-right">
        {{ '{% include \'@CULabsAdmin/Crud/pager.html.twig\' with {
            \'pager\':                pager,
            \'zone\':                \'#ajax_%entity_name%\',
            \'url\':                  path(\'%route_name_prefix%\'),
            \'url_changemaxperpage\': path(\'%route_name_prefix%_changemaxperpage\'),
            \'maxperpage_list\':      [10,20,30,50, 100],
        } %}'|replace({'%entity_name%': entityClass, '%route_name_prefix%':route_name_prefix }) }}
    </div>
    <script type="text/javascript">
        $(function (){
            confirmModal.init(true);
        });
    </script>
{{ '{% endblock %}' }}
