{{ '{% extends \'@CULabsAdmin/Crud/view.html.twig\' %}' }}

{{ '{% block title_page %}' }}{{ '{{ \'New %entity_name%\'|trans }}'|replace({'%entity_name%':entity}) }}{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <ul class="actions">
        <li>
            <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn btn-icon btn-info">
                <i class="icon-list icon-white"></i>{{ '{{ \'List\'|trans }}' }}
            </a>
        </li>
    </ul>
{{ '{% endblock %}' }}

{{ '{% block view_body %}' }}
    {{ '{% include \'/admin/%entity_name%/form.html.twig\' with {
        \'form\': form,
    } %}'|replace({'%entity_name%':entity|lower }) }}
{{ '{% endblock %}' }}
