{{ '{% extends \'/admin/%entity_name%/form.html.twig\' %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'})}) }}

{{ '{% block title_page %}' }}{{ '{{ \'%entity_name% create\'|trans }}'|replace({'%entity_name%':entityClass}) }}{{ '{% endblock %}' }}

{{ '{% block breadcrumb %}' }}
    {{ '{% include \'/admin/%entity_name%/breadcrumb.html.twig\' with {
        \'action\': \'create\',
    } %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
            {{ '{{ \'List\'|trans }}' }}
        </a>
    </li>
{{ '{% endblock %}' }}