{{ '{% extends \'CULabsAdminBundle:Crud:view.html.twig\' %}' }}

{{ '{% block title_page %}' }}{{ '{{ \'Detail %entity_name%\'|trans }}'|replace({'%entity_name%':entity}) }}{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <div class="table-header">
        <ul class="actions">
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn btn-icon btn-info">     
                    <i class="icon-list icon-white"></i>{{ '{{ \'List\'|trans }}' }}  
                </a>
            </li>
            {{ '{% if is_granted(\'ROLE_%entity_name%_EDIT\') %}'|replace({'%entity_name%':entity|upper}) }}
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" class="btn btn-icon btn-primary">     
                <i class="icon-pencil icon-white"></i>{{ '{{ \'Edit\'|trans }}' }}  
                </a>
            </li>
            {{ '{% endif %}' }}
            {{ '{% if is_granted(\'ROLE_%entity_name%_NEW\') %}'|replace({'%entity_name%':entity|upper}) }}
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn btn-icon btn-primary">     
                <i class="icon-plus-sign icon-white"></i>{{ '{{ \'New\'|trans }}' }}  
                </a>
            </li>
            {{ '{% endif %}' }}
            {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper}) }}
            <li>
                <a href="#" onclick="confirmarUrl('{{ '{{ \'Realmente desea borrar\'|trans }}' }}', '{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}', '{{ '{{ \'Comfirmar\'|trans }}' }}')" class="btn btn-icon btn-danger">     
                <i class="icon-remove icon-white"></i>{{ '{{ \'Delete\'|trans }}' }}  
                </a>
            </li>
            {{ '{% endif %}' }}
        </ul>
    </div>
{{ '{% endblock %}' }}
    
{{ '{% block view_body %}' }}
<table class="table table-bordered table-hover table-striped">
    {%- for field, metadata in fields %}        
    <tr>
        <th class="span2">{{ '{{ \'%field%\'|trans }}'|replace({'%field%':field|capitalize}) }}</th>
        <td>
            {%- if metadata.type in ['date', 'datetime'] %}

            {{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}

            {%- else %}

            {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}

            {%- endif %}

        </td>
    </tr>
    {%- endfor %}
</table>
{{ '{% endblock %}' }}