{{ '{% extends \'@CULabsAdmin/Crud/view.html.twig\' %}' }}

{{ '{% block nav_menu %}' }}
    {{ "{{ set_route_active('"~ route_name_prefix ~"') }}" }}
    {{ "{{ parent() }}" }}
{{ "{% endblock %}" }}

{{ '{% block title_page %}' }}{{ '{{ \'%entity_name% detail\'|trans }}'|replace({'%entity_name%':entityClass}) }}{{ '{% endblock %}' }}

{{ '{% block breadcrumb %}' }}
    {{ '{% include \'/admin/%entity_name%/breadcrumb.html.twig\' with {
        \'action\': \'show\',
    } %}'|replace({'%entity_name%':entity|lower|replace({'\\': '/'}) }) }}
{{ '{% endblock %}' }}

{{ '{% block actions %}' }}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
            {{ '{{ \'List\'|trans }}' }}
        </a>
    </li>
    {{ '{% if is_granted(\'ROLE_%entity_name%_EDIT\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">
            {{ '{{ \'Edit\'|trans }}' }}
        </a>
    </li>
    {{ '{% endif %}' }}
    {{ '{% if is_granted(\'ROLE_%entity_name%_NEW\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            {{ '{{ \'New\'|trans }}' }}
        </a>
    </li>
    {{ '{% endif %}' }}
    {{ '{% if is_granted(\'ROLE_%entity_name%_DELETE\') %}'|replace({'%entity_name%':entity|upper|replace({'\\': '_'})}) }}
    <li>
        <a href="#" onclick="confirmarUrl('{{ '{{ \'delete_message\'|trans }}' }}', '{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}', '{{ '{{ \'Confirm\'|trans }}' }}')">
            {{ '{{ \'Delete\'|trans }}' }}
        </a>
    </li>
    {{ '{% endif %}' }}
{{ '{% endblock %}' }}

{{ '{% block view_body %}' }}
<table class="table table-bordered table-hover table-striped">
    {% for field, metadata in fields -%}
    <tr>
        <th class="span2">{{ '{{ \'%field%\'|trans }}'|replace({'%field%':field|capitalize}) }}</th>
        <td>
            {%- if metadata.type in ['date', 'datetime'] %}

            {{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}

            {%- else %}

            {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}

            {%- endif %}

        </td>
    </tr>
    {% endfor %}

</table>
{{ '{% endblock %}' }}
