<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Admin Aplication{% endblock %}</title>
        {% block stylesheets %}        
	<link rel="stylesheet" href="{{ asset('bundles/culabsadmin/css/backend.css') }}" type="text/css" media="screen" title="default" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" media="screen" title="default" />
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" type="text/css" media="screen" title="default" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock %}
        {% block javascript_src %}
        <script src="{{ asset('/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/bundles/culabsadmin/js/admin.js') }}"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_custom_id %}{% endblock %}">
        <div class="menu_top navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% block title_app_url('#') %}">{% block title_app %}{{ 'Admin'|trans }}{% endblock %}</a>
                    <div class="nav-collapse collapse">
                        {% block menu_top %}{% endblock %}
                        {% block profile_status %}
                        <ul class="nav pull-right">
                            <li>
                                <a href="#">
                                    <i class="icon-user icon-white"></i>{% block user_name('Usuario...') %}
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="{% block url_logout %}{{ path('fos_user_security_logout') }}{% endblock %}">
                                    <i class="icon-off icon-white"></i>{{ 'Logout'|trans }}
                                </a>
                            </li>
                        </ul>
                        {% endblock %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="page-title">                
                <h1>{% block title_page('Title...') %}</h1>
                <div class="flash">                
                    {% block flashes %}
                        {% include "CULabsAdminBundle:Layout:flashes.html.twig" %}
                    {% endblock %}
                </div>
            </div>
            <div style="clear: both"></div>
            {% block content %}{% endblock %}
        </div>
        <div class="navbar-inner navbar-fixed-bottom footer" style="padding-top: 10px;">
            {% block footer_content %}
                <p> <strong>© CULabs</strong> Renier Ricardo Figueredo (aprezcuba24@gmail.com)</p>
            {% endblock %}
        </div>
    </body>
</html>