<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Admin Aplication{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link rel="stylesheet" href="{{ asset('bundles/culabsadmin/css/login.css') }}" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" type="text/css" media="screen" title="default" />
    <style type="text/css">

    </style>
</head>
    <body>
        <div class="container">
            <form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
                {% if error %}
                    <div class="error label label-important">{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <h2 class="form-signin-heading">{{ 'Login'|trans }}</h2>
                <input type="text" class="input-block-level" name="_username" value="{{ last_username }}" placeholder="Usuario">
                <input type="password" name="_password" class="input-block-level" placeholder="Password">
                <label class="checkbox" for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <button class="btn btn-large btn-primary" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            </form>
        </div>
    </body>
</html>
