{% macro sort_field(label, field, sort, update, route, indicator, param) %}
    {% if not param %}
    {% set param = {} %}
    {% endif %}
    {% if sort.field is defined and sort.field == field %}
        <a href="#" id="{{ update~field }}">
            {{ label }}<i style="margin-left: 3px; display: inline-block" class="fa fa-lg {% if sort.order == 'ASC'%}fa-sort-asc{% else %}fa-sort-desc{% endif %}"></i>
        </a>
        <script type="text/javascript">
            $().ready(function () {
                $('#{{ update~field }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        success:function(data, textStatus){
                            jQuery('#{{ update }}').html(data);
                        },
                        beforeSend:function(XMLHttpRequest){
                            jQuery('#{{ indicator }}').show();
                        },
                        complete:function(XMLHttpRequest, textStatus){
                            jQuery('#{{ indicator }}').hide();
                        },
                        url: "{{ path(route, param|merge({'field':field, 'order':sort.next})) }}"
                    });
                });
            });
        </script>
    {% else %}
        <a href="#" id="{{ update~field }}" onclick="">
            {{ label }}
            <i style="margin-left: 3px; display: inline-block" class="fa fa-sort fa-lg"></i>
        </a>
        <script type="text/javascript">
            $().ready(function () {
                $('#{{ update~field }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        success:function(data, textStatus){
                            jQuery('#{{ update }}').html(data);
                        },
                        beforeSend:function(XMLHttpRequest){
                            jQuery('#{{ indicator }}').show();
                        },
                        complete:function(XMLHttpRequest, textStatus){
                            jQuery('#{{ indicator }}').hide();
                        },
                        url: "{{ path(route, param|merge({'field':field, 'order':'ASC'})) }}"
                    });
                });
            });
        </script>
    {% endif %}
{% endmacro %}
