{% set pager_data = pager.paginationData %}
{{ pager_data.current }} / {{ pager_data.pageCount }} &nbsp;-&nbsp; {{ pager_data.totalCount }} resultados &nbsp;-&nbsp;
<label>
    <select onchange="window.location='{{ url_changemaxperpage }}?cant=' + this.value" id="pager_results" class="form-control input-xxsmall" size="1" aria-controls="sample_1">
        {% if maxperpage is defined %}
            {% for item in maxperpage_list %}
                <option {% if pager_data.numItemsPerPage == item %} selected="selected" {% endif %}>{{ item }}</option>
            {% endfor %}
        {% else %}
            <option {% if pager_data.numItemsPerPage == 10 %} selected="selected" {% endif %}>10</option>
            <option {% if pager_data.numItemsPerPage == 20 %} selected="selected" {% endif %}>20</option>
            <option {% if pager_data.numItemsPerPage == 50 %} selected="selected" {% endif %}>50</option>
        {% endif %}
    </select>
    Por página
</label>
{% if pager_data.pageRange > 1 %}
    <br/>
    <div class="paginator pull-right">
        {% set indicator_id = random() %}
        <img class="loader pull-left" style="display: none;" src="{{ asset('/bundles/culabsadmin/images/loader.gif') }}" id="indicator_id"/>
        <ul class="pagination">
            {% if pager_data.current == pager_data.first %}
                <li class="prev disabled">
                    <span>
                        <i class="fa fa-angle-left"></i>
                    </span>
                </li>
            {% else %}
                <li class="prev">
                    <a title="Prev" href="{{ url }}?page=1" data-ajax-zone-update="{{ zone }}" data-ajax-indicator="#indicator_id">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}
            {% for page in pager_data.pagesInRange %}
                {% if page != pager_data.current %}
                    <li>
                        <a href="{{ url }}?page={{ page }}" data-ajax-zone-update="{{ zone }}" data-ajax-indicator="#indicator_id">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if pager_data.current == pager_data.pageCount %}
                <li class="next disabled">
                    <span title="Last">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </li>
            {% else %}
                <li class="next">
                    <a title="Next" href="{{ url }}?page={{ pager_data.pageCount }}" data-ajax-zone-update="{{ zone }}" data-ajax-indicator="#indicator_id">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript">
    $(function (){
        convertLinkAjax.init('.paginator a');
    });
</script>