{% set pager_data = pager.paginationData %}
<div class="pagination">
    {% if pager_data.current == pager_data.first %}
        <a href="#" class="icon-fast-backward" id="icon-fast-backward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-fast-backward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                });
            });
        </script>
    {% else %}
        <a href="#" class="icon-fast-backward" id="icon-fast-backward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-fast-backward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        data:'page=1',
                        success: function(data, textStatus){
                            jQuery('#{{ zona }}').html(data);
                        },
                        beforeSend: function(XMLHttpRequest){
                            jQuery('#indicador_{{ zona }}').show();
                        },
                        complete: function(XMLHttpRequest, textStatus){
                            jQuery('#indicador_{{ zona }}').hide();
                        },
                        url:'{{ url }}'
                    });
                });
            });
        </script>
    {% endif %}

    {% if pager_data.previous is defined %}
        <a class="icon-step-backward" href="#" id="icon-step-backward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-step-backward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        data:'page={{ pager_data.previous }}',
                        success:function(data, textStatus){
                            jQuery('#{{ zona }}').html(data);
                        },
                        beforeSend:function(XMLHttpRequest){
                            jQuery('#indicador_{{ zona }}').show();
                        },
                        complete:function(XMLHttpRequest, textStatus){
                            jQuery('#indicador_{{ zona }}').hide();
                        },
                        url:'{{ url }}'
                    });
                });
            });
        </script>
    {% else %}
        <a href="#" class="icon-step-backward" id="icon-step-backward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-step-backward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                });
            });
        </script>
    {% endif %}

    <div class="pager-indicator">
        <span class="page">{{ pager_data.current }}</span> / <span class="cant">{{ pager_data.pageCount }}</span>
    </div>

    <select onchange="window.location='{{ url_changemaxperpage }}?cant=' + this.value">
        {% if maxperpage is defined %}
            {% for item in maxperpage_list %}
            <option {% if pager_data.numItemsPerPage == item %} selected="selected" {% endif %}>{{ item }}</option>
            {% endfor %}
        {% else %}
            <option {% if pager_data.numItemsPerPage == 10 %} selected="selected" {% endif %}>10</option>
            <option {% if pager_data.numItemsPerPage == 20 %} selected="selected" {% endif %}>20</option>
            <option {% if pager_data.numItemsPerPage == 50 %} selected="selected" {% endif %}>50</option>
        {% endif %}
    </select>

    {% if pager_data.next is defined %}
        <a class="icon-step-forward" href="#" id="icon-step-forward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-step-forward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        data:'page={{ pager_data.next }}',
                        success:function(data, textStatus){
                            jQuery('#{{ zona }}').html(data);
                        },
                        beforeSend:function(XMLHttpRequest){
                            jQuery('#indicador_{{ zona }}').show();
                        },
                        complete:function(XMLHttpRequest, textStatus){
                            jQuery('#indicador_{{ zona }}').hide();
                        },
                        url:'{{ url }}'
                    });
                });
            });
        </script>
    {% else %}
        <a href="#" class="icon-step-forward" id="icon-step-forward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-step-forward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                });
            });
        </script>
    {% endif %}

    {% if pager_data.current != pager_data.pageCount %}
        <a class="icon-fast-forward" href="#" id="icon-fast-forward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-fast-forward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                    jQuery.ajax({
                        type:'GET',
                        dataType:'html',
                        data:'page={{ pager_data.pageCount }}',
                        success:function(data, textStatus){
                            jQuery('#{{ zona }}').html(data);
                        },
                        beforeSend:function(XMLHttpRequest){
                            jQuery('#indicador_{{ zona }}').show();
                        },
                        complete:function(XMLHttpRequest, textStatus){
                            jQuery('#indicador_{{ zona }}').hide();
                        },
                        url:'{{ url }}'
                    });
                });
            });
        </script>
    {% else %}
        <a href="#" class="icon-fast-forward" id="icon-fast-forward_{{ zona }}"></a>
        <script type="text/javascript">
            $().ready(function () {
                $('#icon-fast-forward_{{ zona }}').click(function(e) {
                    e.preventDefault();
                });
            });
        </script>
    {% endif %}

    <div class="loader">
        <img style="display: none;" src="{{ asset('bundles/culabsadmin/images/loader.gif') }}" id="indicador_{{ zona }}"/>
    </div>
</div>
