{% set pager_data = pager.paginationData %}
<div class="paginator">
    {% if pager_data.current == pager_data.first %}
          <a href="#" class="page-far-left"></a>
    {% else %}
        <a href="#" class="page-far-left" onclick="{{ jq_remote_function({
          'update':   zona, 
          'url':      url,
          'method':   'GET',
          'with':     "'page=1'",
          'complete': jq_sprintf("jQuery('#indicador_%s').hide();", zona),
          'loading':  jq_sprintf("jQuery('#indicador_%s').show();", zona),
        }) }}"></a>
     {% endif %}
          
     {% if pager_data.previous is defined %}
          <a class="page-left" href="#" onclick="{{ jq_remote_function({
            'update':   zona, 
            'url':      url,
            'method':   'GET',
            'with':     jq_sprintf("'page=%s'", pager_data.previous),
            'complete': jq_sprintf("jQuery('#indicador_%s').hide();", zona),
            'loading':  jq_sprintf("jQuery('#indicador_%s').show();", zona),
          }) }}"></a>
      {% else %}
          <a href="#" class="page-left"></a>
      {% endif %}
          
      <div class="page-info">{{ 'Page'|trans }}<strong> {{ pager_data.current }}</strong> / {{ pager_data.pageCount }}</div>
      
      <select class="num_page" onchange="window.location='{{ url_changemaxperpage }}?cant=' + this.value">
          {% if maxperpage is defined %}
              {% for item in maxperpage_list %}
              <option {% if pager_data.numItemsPerPage == item %} selected="selected" {% endif %}>{{ item }}</option>
              {% endfor %}
          {% else %}
            <option {% if pager_data.numItemsPerPage == 10 %} selected="selected" {% endif %}>10</option>
            <option {% if pager_data.numItemsPerPage == 20 %} selected="selected" {% endif %}>20</option>
            <option {% if pager_data.numItemsPerPage == 50 %} selected="selected" {% endif %}>50</option>
          {% endif %}
      </select>
      
      {% if pager_data.next is defined %}
          <a class="page-right" href="#" onclick="{{ jq_remote_function({
            'update':   zona, 
            'url':      url,
            'method':   'GET',
            'with':     jq_sprintf("'page=%s'", pager_data.next),
            'complete': jq_sprintf("jQuery('#indicador_%s').hide();", zona),
            'loading':  jq_sprintf("jQuery('#indicador_%s').show();", zona),
          }) }}"></a>
      {% else %}
          <a href="#" class="page-right"></a>
      {% endif %}
          
      {% if pager_data.current != pager_data.pageCount %}
          <a class="page-far-right" href="#" onclick="{{ jq_remote_function({
            'update':   zona, 
            'url':      url,
            'method':   'GET',
            'with':     jq_sprintf("'page=%s'", pager|length),
            'complete': jq_sprintf("jQuery('#indicador_%s').hide();", zona),
            'loading':  jq_sprintf("jQuery('#indicador_%s').show();", zona),
          }) }}"></a>
      {% else %}
          <a href="#" class="page-far-right"></a>
      {% endif %} 
    
      <div class="loader_paginator">	    
        <span style="display: none" id="indicador_{{ zona }}" class="loader_cirular"></span>
      </div>
</div>